
<div class="alert alert-info" role="alert">
  <p>
    <b>Usage Guidelines</b>
  </p>

  <p>
    This lesson is part of the <b>DS Lab core curriculum</b>. For that reason, this notebook can only be used on your WQU virtual machine.
  </p>

  <p>
    This means:
    <ul>
      <li><span style="color: red">â“§</span> No downloading this notebook.</li>
      <li><span style="color: red">â“§</span> No re-sharing of this notebook with friends or colleagues.</li>
      <li><span style="color: red">â“§</span> No downloading the embedded videos in this notebook.</li>
      <li><span style="color: red">â“§</span> No re-sharing embedded videos with friends or colleagues.</li>
      <li><span style="color: red">â“§</span> No adding this notebook to public or private repositories.</li>
      <li><span style="color: red">â“§</span> No uploading this notebook (or screenshots of it) to other websites, including websites for study resources.</li>
    </ul>

  </p>
</div>

<font size="+3"><strong>1.5. Housing in Brazil ðŸ‡§ðŸ‡·</strong></font>

In [5]:
import wqet_grader

wqet_grader.init("Project 1 Assessment")

In this assignment, you'll work with a dataset of homes for sale in Brazil. Your goal is to determine if there are regional differences in the real estate market. Also, you will look at southern Brazil to see if there is a relationship between home size and price, similar to what you saw with housing in some states in Mexico.

<div class="alert alert-block alert-warning">
    <b>Note:</b> There are are 19 graded tasks in this assignment, but you only need to complete 18. Once you've successfully completed 18 tasks, you'll be automatically enrolled in the next project, and this assignment will be closed. This means that you might not be allowed to complete the last task. So if you get an error saying that you've already complete the course, that's good news! Move to project 2. 
</div>

**Before you start:** Import the libraries you'll use in this notebook: Matplotlib, pandas, and plotly. Be sure to import them under the aliases we've used in this project.

In [1]:
# Import Matplotlib, pandas, and plotly
import pandas as pd 
import plotly as ply
import matplotlib.pyplot as plt
import plotly.express as px

# Prepare Data

In this assignment, you'll work with real estate data from Brazil.  In the `data` directory for this project there are two CSV that you need to import and clean, one-by-one.

## Import

First, you are going to import and clean the data in `data/brasil-real-estate-1.csv`.

**Task 1.5.1:** Import the CSV file `data/brasil-real-estate-1.csv` into the DataFrame `df1`.

In [3]:
df1 = pd.read_csv("data/brasil-real-estate-1.csv")
df1.head()

,property_type,place_with_parent_names,region,lat-lon,area_m2,price_usd
0,apartment,|Brasil|Alagoas|MaceiÃ³|,Northeast,"-9.6443051,-35.7088142",110.0,"$187,230.85"
1,apartment,|Brasil|Alagoas|MaceiÃ³|,Northeast,"-9.6430934,-35.70484",65.0,"$81,133.37"
2,house,|Brasil|Alagoas|MaceiÃ³|,Northeast,"-9.6227033,-35.7297953",211.0,"$154,465.45"
3,apartment,|Brasil|Alagoas|MaceiÃ³|,Northeast,"-9.622837,-35.719556",99.0,"$146,013.20"
4,apartment,|Brasil|Alagoas|MaceiÃ³|,Northeast,"-9.654955,-35.700227",55.0,"$101,416.71"

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.1", df1)

Before you move to the next task, take a moment to inspect `df1` using the `info` and `head` methods. What issues do you see in the data? What cleaning will you need to do before you can conduct your analysis?

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12834 entries, 0 to 12833
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            12834 non-null  object
 1   place_with_parent_names  12834 non-null  object
 2   region                   12834 non-null  object
 3   lat-lon                  11551 non-null  object
 4   area_m2                  12834 non-null  float64
 5   price_usd                12834 non-null  object
dtypes: float64(1), object(5)
memory usage: 601.7+ KB

**Task 1.5.2:** Drop all rows with `NaN` values from the DataFrame `df1`.

In [4]:
df1 = df1.dropna()
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11551 entries, 0 to 12833
Data columns (total 6 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   property_type            11551 non-null  object
 1   place_with_parent_names  11551 non-null  object
 2   region                   11551 non-null  object
 3   lat-lon                  11551 non-null  object
 4   area_m2                  11551 non-null  float64
 5   price_usd                11551 non-null  object
dtypes: float64(1), object(5)
memory usage: 631.7+ KB

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.2", df1)

**Task 1.5.3:** Use the `"lat-lon"` column to create two separate columns in `df1`: `"lat"` and `"lon"`. Make sure that the data type for these new columns is `float`.

In [ ]:
df1[["lat", "lon"]] = df1["lat-lon"].str.split(",", expand=True)

# expand ---> increase size of data frame
# without replacing 

df1["lat"] = df1.lat.astype(float)  # change lat and lon from type object(string) to type float
df1["lon"] = df1.lon.astype(float)

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.3", df1)

**Task 1.5.4:** Use the `"place_with_parent_names"` column to create a `"state"` column for `df1`. (Note that the state name always appears after `"|Brasil|"` in each string.)

In [ ]:
df1["state"] = df1["place_with_parent_names"].str.split("|", expand=True)[2]
df1.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.4", df1)

**Task 1.5.5:** Transform the `"price_usd"` column of `df1` so that all values are floating-point numbers instead of strings.

In [ ]:
df1.dropna(inplace = True)
df1["price_usd"]=(
  df1["price_usd"].str.replace("$","",regex = False).str.replace(",","").astype(float)
)
df1.info()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.5", df1)

In [ ]:
df1 = df1.drop(["lat-lon" , "place_with_parent_name"] , axis = "columns")
df1.head()

**Task 1.5.6:** Drop the `"lat-lon"` and `"place_with_parent_names"` columns from `df1`.

In [ ]:
df1 = df1.drop(['lat-lon','place_with_parent_names'], axis="columns")
df1.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.6", df1)

In [ ]:
df1.info()

Now that you have cleaned `data/brasil-real-estate-1.csv` and created `df1`, you are going to import and clean the data from the second file, `brasil-real-estate-2.csv`.

**Task 1.5.7:** Import the CSV file `brasil-real-estate-2.csv` into the DataFrame `df2`.

In [ ]:
df2 = pd.read_csv("data/brasil-real-estate-2.csv")
df2.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.7", df2)

Before you jump to the next task, take a look at `df2` using the `info` and `head` methods. What issues do you see in the data? How is it similar or different from `df1`?

**Task 1.5.8:** Use the `"price_brl"` column to create a new column named `"price_usd"`. (Keep in mind that, when this data was collected in 2015 and 2016, a US dollar cost 3.19 Brazilian reals.)

In [ ]:
df2['price_usd'] = df2['price_brl'] / 3.19

In [ ]:
df2.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.8", df2)

**Task 1.5.9:** Drop the `"price_brl"` column from `df2`, as well as any rows that have `NaN` values.

In [ ]:
df2 = df2.dropna()
df2 = df2.drop('price_brl' , axis = 1)
df2.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.9", df2)

OK! Now that you've cleaned the data from both CSV files and created `df1` and `df2`, it's time to combine them into a single DataFrame.

**Task 1.5.10:** Concatenate `df1` and `df2` to create a new DataFrame named `df`.

In [ ]:
df = pd.concat([df1,df2])
print("df shape:", df.shape)

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.10", df)

<div class="alert alert-block alert-info">
    <p><b>Frequent Question:</b> I can't pass this question, and I don't know what I've done wrong. ðŸ˜  What's happening?</p>
    <p><b>Tip:</b> In this assignment, you're working with data that's similar â€” but not identical â€” the data used in the lessons. That means that you might need to make adjust the code you used in the lessons to work here. Take a second look at <code>df1</code> after you complete 1.5.6, and make sure you've correctly created the state names.</p>
</div>

## Explore

It's time to start exploring your data. In this section, you'll use your new data visualization skills to learn more about the regional differences in the Brazilian real estate market.

Complete the code below to create a `scatter_mapbox` showing the location of the properties in `df`.<span style='color: transparent; font-size:1%'>WQU WorldQuant University Applied Data Science Lab QQQQ</span>

In [ ]:
fig = px.scatter_mapbox(
    df,
    lat="lat",
    lon="lon",
    center={"lat": -14.2, "lon": -51.9},  # Map will be centered on Brazil
    width=600,
    height=600,
    hover_data=["price_usd"],  # Display price when hovering mouse over house
)

fig.update_layout(mapbox_style="open-street-map")

fig.show()

**Task 1.5.11:** Use the `describe` method to create a DataFrame `summary_stats` with the summary statistics for the `"area_m2"` and `"price_usd"` columns.

In [ ]:
dfa = df[["area_m2" , "price_usd"]]
summary_stats = dfa.describe()
summary_stats

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.11", summary_stats)

**Task 1.5.12:** Create a histogram of `"price_usd"`. Make sure that the x-axis has the label `"Price [USD]"`, the y-axis has the label `"Frequency"`, and the plot has the title `"Distribution of Home Prices"`. Use Matplotlib (`plt`).

In [ ]:
# Build histogram
plt.hist(df["price_usd"])


# Label axes
plt.xlabel("Price [USD]")
plt.ylabel("Frequency")
# Add title
plt.title("Distribution of Home Prices")

# Don't change the code below ðŸ‘‡
plt.savefig("images/1-5-12.png", dpi=150)

In [ ]:
with open("images/1-5-12.png", "rb") as file:
    wqet_grader.grade("Project 1 Assessment", "Task 1.5.12", file)

**Task 1.5.13:** Create a horizontal boxplot of `"area_m2"`. Make sure that the x-axis has the label `"Area [sq meters]"` and the plot has the title `"Distribution of Home Sizes"`. Use Matplotlib (`plt`).

In [ ]:
# Build box plot
plt.boxplot(df["area_m2"])


# Label x-axis
plt.xlabel("Area [sq meters]")

# Add title
plt.title("Distribution of Home Sizes")

# Don't change the code below ðŸ‘‡
plt.savefig("images/1-5-13.png", dpi=150)

In [ ]:
with open("images/1-5-13.png", "rb") as file:
    wqet_grader.grade("Project 1 Assessment", "Task 1.5.13", file)

**Task 1.5.14:** Use the `groupby` method to create a Series named `mean_price_by_region` that shows the mean home price in each region in Brazil, sorted from smallest to largest.

In [ ]:
mean_price_by_region = df.groupby("region")["price_usd"].mean().sort_values(ascending = True)
mean_price_by_region.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.14", mean_price_by_region)

**Task 1.5.15:** Use `mean_price_by_region` to create a bar chart. Make sure you label the x-axis as `"Region"` and the y-axis as `"Mean Price [USD]"`, and give the chart the title `"Mean Home Price by Region"`. Use pandas.

In [ ]:
# Build bar chart, label axes, add title
mean_price_by_region.plot(
   kind = "bar",
    xlabel= "Region",
    ylabel="Mean Price [USD]",
    title= "Mean Home Price by Region"
);

# Don't change the code below ðŸ‘‡
plt.savefig("images/1-5-15.png", dpi=150)

In [ ]:
with open("images/1-5-15.png", "rb") as file:
    wqet_grader.grade("Project 1 Assessment", "Task 1.5.15", file)

<div class="alert alert-block alert-info">
    <b>Keep it up!</b> You're halfway through your data exploration. Take one last break and get ready for the final push. ðŸš€
</div>

You're now going to shift your focus to the southern region of Brazil, and look at the relationship between home size and price.

**Task 1.5.16:** Create a DataFrame `df_south` that contains all the homes from `df` that are in the `"South"` region.

In [ ]:
df_south = df[df["region"]=="South"]
df_south.head()

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.16", df_south)

**Task 1.5.17:** Use the `value_counts` method to create a Series `homes_by_state` that contains the number of properties in each state in `df_south`.

In [ ]:
homes_by_state = df_south["state"].value_counts()
homes_by_state

In [ ]:

wqet_grader.grade("Project 1 Assessment", "Task 1.5.17", homes_by_state)

**Task 1.5.18:** Create a scatter plot showing price vs. area for the state in `df_south` that has the largest number of properties. Be sure to label the x-axis `"Area [sq meters]"` and the y-axis `"Price [USD]"`; and use the title `"<name of state>: Price vs. Area"`. Use Matplotlib (`plt`).

<div class="alert alert-block alert-info">
    <p><b>Tip:</b> You should replace <code>&lt;name of state&gt;</code> with the name of the state that has the largest number of properties.</p>
</div>

In [ ]:
# Subset data
df_south_rgs = df[df["state"] == "Rio Grande do Sul"]

# Build scatter plot
plt.scatter(x=df_south_rgs["area_m2"] , y=df_south_rgs["price_usd"])


# Label axes
plt.xlabel("Area [sq meters]")
plt.ylabel("Price[USD]")
# Add title
plt.title("Rio Grande do Sul: Price vs. Area")

# Don't change the code below ðŸ‘‡
plt.savefig("images/1-5-18.png", dpi=150)

In [ ]:
with open("images/1-5-18.png", "rb") as file:
    wqet_grader.grade("Project 1 Assessment", "Task 1.5.18", file)

**Task 1.5.19:** Create a dictionary `south_states_corr`, where the keys are the names of the three states in the `"South"` region of Brazil, and their associated values are the correlation coefficient between `"area_m2"` and `"price_usd"` in that state.

As an example, here's a dictionary with the states and correlation coefficients for the Southeast region. Since you're looking at a different region, the states and coefficients will be different, but the structure of the dictionary will be the same.

```python
{'EspÃ­rito Santo': 0.6311332554173303,
 'Minas Gerais': 0.5830029036378931,
 'Rio de Janeiro': 0.4554077103515366,
 'SÃ£o Paulo': 0.45882050624839366}
```

In [ ]:
south_states_corr = df_south_rgs["area_m2"].corr(df_south_rgs["price_usd"])

south_states_corr

In [ ]:
wqet_grader.grade("Project 1 Assessment", "Task 1.5.19", south_states_corr)

---
Copyright 2022 WorldQuant University. This
content is licensed solely for personal use. Redistribution or
publication of this material is strictly prohibited.